# add node_modules
node_modules

# add logs files not the folder
*.log
logs/*-audit.json

# add all .env files
.env
# add all csv files in the imports folder
imports/*.csv
imports/logs/*.log
# the logs directory should not be ignored, but the files inside it should be




